/* import */
@import url('./reset.css');
@import url('./common.css');

/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7em 5em 3em;
  background: var(--color-deepdark-blue);
}
.footer small{
  font-size: .9em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
}
.footer a img{
  width: 10em;
}

/* float-area */
.float-area{
  position: fixed;
  bottom: 1em;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 10px;
  background: rgba(255,255,255,.6);
  backdrop-filter: blur(10px);
  border-radius: 1em;
  transform: translateX(-50%);
  z-index: 99;
}
.float-area a{
  padding: 15px 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  color: var(--color-deep-blue);
  border-radius: 1em;
  transition: color .3s;
}
.float-area a.on{
  font-weight: bold;
  color: #fff;
}
.float-area .float-box{
  position: absolute;
  top: 50%;
  left: .2em;
  width: 60px;
  height: 90%;
  background: var(--color-deep-blue);
  border-radius: .8em;
  transform: translateY(-50%);
  z-index: -1;
  transition: left .3s linear, width .3s linear;
}